{% extends 'app/base.html' %}
{% load static %}
{% block title %}Edit Product{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Edit Product</h3>
                    <form action="" method="post" enctype="multipart/form-data" novalidate class="p-4">
                        {% csrf_token %}
                        {% for fm in form %}
                        <div class="form-group mb-3">
                            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                        </div>
                        {% endfor %}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Update Product</button>
                            <a href="{% url 'seller-dashboard' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %} 