{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h3>Change Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
                {% endfor %}

                {% if messages %}
                    {% for message in messages %}
                        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                    {% endfor %}
                {% endif %}

                <input type="submit" class="btn btn-primary mt-4" value="Change Password">
            </form>
        </div>
    </div>
</div>
{% endblock main-content %} 